<md-content layout="column" layout-align="start center">
    <p></p>
    <h1>Ideas</h1>
    <md-input-container class="search-bar md-accent md-hue-1">
        <label>Search</label>
        <input name="search" ng-model="searchText" ng-change="searchIdeas()" ng-model-options="{debounce:150}">
    </md-input-container>
    <div layout="row" layout-align="center center" layout-wrap class="no-padding-top-lg">
        <idea-item-browse ng-repeat="idea in ideas track by idea._id" idea="idea" ui-sref="idea({ ideaId: idea._id })" class="idea-pointer"></idea-item-browse>
        <h3 class="no-ideas-div" ng-show="!ideas.length && loaded === true"><i>No ideas match your search</i></h3>
        <md-progress-circular ng-if="loaded === false" md-mode="indeterminate"></md-progress-circular>
    </div>
</md-content>
